
nav  ul > li{
    display: inline;
    margin-right: 15px;
    background-color: aqua;
    border: 2px solid tomato;
    border-radius: 20px;
    padding: 10px 10px 10px;
    
}
nav  li  a{
    text-decoration: none;
  
}
nav{
    margin-top: 30px;
}
nav li:hover{
    background-color: rgb(93, 216, 136);
}